*.pyc

# Ignore article DB
*articles.db

# ignore virtualenv
/bin/
/include/
/lib/

# ignore the ignore dir
/ignore/

# ignore the settings (there is a example)
settings.py

# ignore builded documentation
/doc/build

# PyCharm project files
.idea
.Python

# Ignore node modules and built JavaScript files
node_modules
ui/dist
