<!DOCTYPE html>
<html lang="sl" ng-app="NewsBuddy">
  <head>
    <meta charset="UTF-8">
    <title>Novičar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" media="screen">
    <link href="css/ui.css" rel="stylesheet" media="screen">
  </head>
  <body ng-controller="SearchController">

    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">Novičar</a>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Iskanje</a></li>
            <li><a href="stats.html">Statistika</a></li>
        </ul>
    </div>
    <div class="container" ng-submit="search()">
    <form>
        <fieldset>
            <div class="input-group">
                <input ng-model="query" type="text" class="input-large form-control" id="query" placeholder="Iskalni niz">
            </div>
        </fieldset>
    </form>

    <br />
    <div class="row">
        <div class="col-lg-8" infinite-scroll="loadPage();" infinite-scroll-disabled="loading || all_loaded" infinite-scroll-distance="1">
            <div ng-repeat="result_group in results_array">
                <h3 class="text-center">{{ result_group.published | date:'mediumDate' }}</h3>
                <hr>
                <ul>
                    <li class="list-unstyled" ng-repeat="result in result_group.articles">
                        <h5>
                            <a href="{{result.link}}"><span ng-bind-html-unsafe="result.title">{{ result.title }}</span> {{ result.author }}</a> <br/>
                            <small>{{ result.source }};  {{ result.published | date:'mediumDate' }} {{ result.published | date:'shortTime' }}</small>
                        </h5>
                        <p ng-repeat="snippet in result.snippet">
                            ... <span ng-bind-html-unsafe="snippet">{{ snippet }}</span> ...
                        </p>
                    </li>
                </ul>
            </div>
            <div class="progress progress-striped active" ng-show="loading">
                <div class="progress-bar" style="width: 100%"></div>
            </div>

        </div>
        <div class="col-lg-4">
            <legend ng-show="sources">Viri</legend>
            <p ng-repeat="source in sources">
                {{ source[0] }} ({{ source[1] }})
            </p>
            <legend ng-show="publish_dates">Datumi</legend>
            <p ng-repeat="publish_date in publish_dates">
                {{ publish_date[0] | date:'mediumDate' }} ({{ publish_date[1] }})
            </p> 
        </div>
    </div>
    </div>
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_sl-si.js"></script>
    <script src="js/ng-infinite-scroll.min.js"></script>
    <script src="js/search_controller.js"></script>
  </body>
</html>
